<!-- Include jQuery -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">

<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

<style>
div.dt-container select.dt-input {
  padding-right: calc(1.2ch * var(--char-length, 3));
}
</style>

<!-- Initialize DataTable -->
<script>
  $(document).ready(function() {
    let table = new DataTable('.datatable', {
      pageLength: 100
    });

    function adjustPadding(selectElement) {
      let selectedText = selectElement.options[selectElement.selectedIndex].text;
      let textLength = selectedText.length;

      selectElement.style.setProperty('--char-length', textLength);
    }

    $('.dt-input').each(function() {
      adjustPadding(this);

      $(this).on('change', function() {
        adjustPadding(this);
      });
    });
  });
</script>



<!--
Usage:
Adding {class="datatable"} under the table will initialize the DataTable.
-->
